.container {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.card{
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 1%;
  border-radius: 1%;
  box-shadow: 3px 3px 5px 6px lightgrey;
  width: 35%;
  height: 30vh;
}

.info-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pic {
  padding-right: 5%;
}

.userpic{
  height: 30vh;
}
